<html>
<head>
<meta charset="utf-8">
<title>{#title}Hello world{/#}</title>
<link rel="stylesheet" type="text/css" href="css/screen.css">
</head>
<body n:inner-block="body">
<div class="container">
{#content}
Original content.
{/#}
</div>
</body>
</html>